.navbar {
  height: fit-content;
  background-color: transparent;
  border-bottom: solid 1px #fc3c3c;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
.navbar-brand {
  color: #083358 !important;
  font-family: "Oswald", sans-serif;
  font-size: 200% !important;
  margin-left: 5%;
}
.navbar-text a {
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: #083358 !important;
}
.fas.fa-paint-roller {
  color: #083358 !important;
  margin-right: 20px;
}

.nav-link:link,
.nav-link:visited {
  color: #083358 !important;

  transition: color 0.4s;
}

.nav-link:hover {
  color: #fc3c3c !important;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.4s;
  cursor: pointer;
}

.justify-content-end {
  margin-right: 5%;
}
