.services {
  color: #455d7a;
  text-align: center;
  height: 100vh;
  border-bottom: solid 3px;
  border-color: #455d7a;
  padding-top: 25px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
}

.services-header {
  font-size: 55px;
  color: #455d7a;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}

.services-break {
  width: 200px;
  border: 2px solid #455d7a;
  color: #455d7a;
}

.service-box {
  margin: 20px 15px 20px 15px;
}

img {
  color: #083358 !important;
}

.description {
  font-size: 20px;
  line-height: 175%;
}
