.jumbotron {
  height: 100vh;
  background: transparent;
  background-image: url("./PaintRoller5.jpg");
  background-size: 100vh 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(231, 229, 232);
  color: #455d7a;
  font-family: "Raleway", sans-serif;
  padding-top: 200px;
  border-bottom: solid 2px #455d7a;
  position: relative;
}

.jumbo-subtext {
  width: 500px;
  text-align: center;
  font-size: 35px;
  font-weight: thin;
}

.call-button {
  background-color: #455d7a;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 75%;
  left: 28.5%;
  margin-top: 15px;
}

.call-button:hover {
  background-color: rgb(197, 47, 49);
}
