.jumbotron {
  height: 800px;
  width: 100%;
  background: transparent;
  background-image: url("./PaintTools.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(253, 253, 253);
  color: #455d7a;
  font-family: "Lato", sans-serif;
  padding-top: 125px;
  border-bottom: solid 3px rgb(197, 47, 49);
  margin-top: 170px;
}

.jumbo-subtext {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
}

.call-button {
  background-color: #455d7a;
  color: white;
  font-size: 25px;
  margin-left: 790px;
  font-family: "Lato", sans-serif;
  border-color: rgb(197, 47, 49);
}

.call-button:hover {
  background-color: rgb(197, 47, 49);
}
