.navbar {
  height: 120px;
  background-color: rgb(231, 229, 232);
  border-bottom: solid 3px;
  border-color: #455d7a;
  padding-bottom: 10px;
}
.navbar-brand {
  color: #455d7a !important;
  font-family: "Pacifico", cursive;
  font-size: 60px;
  margin-left: 25px;
}
.navbar-text {
  font-family: "Pacifico", cursive;
  margin-left: 10px;
  margin-right: 10px;
}
.fas.fa-paint-roller {
  color: #455d7a;
  margin-right: 20px;
}

a {
  color: #455d7a !important;
  font-size: 25px;
}
