.navbar {
  height: 170px;
  background-color: #455d7a;
  border-bottom: solid 3px;
  border-color: rgb(197, 47, 49);
  padding-bottom: 10px;
}
.navbar-brand {
  color: rgb(253, 253, 253) !important;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  margin-left: 25px;
}
.navbar-text {
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}
.fas.fa-paint-roller {
  color: rgb(253, 253, 253) !important;
  margin-right: 20px;
}

a {
  color: rgb(253, 253, 253) !important;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#last-child {
  margin-right: 100px;
}
